.beer-card{
  width:320px;
  height: 540px;
  border: 1px solid black;

  &__img{
      height: 340px;
      width: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
        .beer-card-name{
          position: absolute;
          top:0;
          width: 100%;
          text-align: center;

        }

        .beer-card-tagline{
          position:absolute;
          bottom:0;
          text-align: center;
          width: 100%;


        }
  }




}